@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


$grey-font: rgba(0, 0, 0, .4);
@mixin smallError() {
  small {
    margin-top: .2rem;
    color: red;
  }
}
@mixin blackFont($font, $opacity) {
  color: rgba(0, 0, 0, $opacity);
  font-family: $font, sans-serif;
}

@mixin inputStyling {
  input {
    width: 50%;
    text-align: center;
    border-radius: 2rem;
    padding: 0 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
  }

  input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f4ad94;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(233, 84, 32, .2);
  }
}
@mixin buttonStyling {
  button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: 2rem;
    padding: .3rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in .3s;
    background-color: #ffc13b;
    color: black;
    width: 33%;
    border: 0;
  }
  button:hover {
    background-color: darkorange;
    color: darkblue;
  }
  .btn.disabled,
  .btn:disabled,
  .btn:disabled:hover{
    cursor: not-allowed;
  }
  button.btn:focus,
  button:focus {
    outline: none;
  }
}

@mixin registerTitle {
  font-family: "Quicksand", sans-serif;
  color: #000063;
  font-size: 1.5rem;
}
.white-text {
  color: #f5f0e1;
}
.card {
  padding: 1rem;
  border-radius: .5rem;
  margin: .5rem;
  background-color: transparent;
  color: white;
  a {
    color: white;
  }
}
.container {
  width: 100%;
  max-width: 1450px;
  padding: 0;
  margin: 0;
}

.invalid {
  border: 2px solid rgba(255, 0, 0, .5);
}

html {
  height: 100vh;
  font-size: 15px;
  font-family: "Jost", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, ul, li, p, hr {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
