@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 15px;
  font-family: "Jost", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@mixin buttonStyling {
  button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: 2rem;
    padding: .3rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in .3s;
    background-color: #fecb30;
    color: black;
    width: 33%;
  }
  button:hover {
    background-color: darkorange;
    color: darkblue;
  }
  .btn.disabled,
  .btn:disabled,
  .btn:disabled:hover{
    cursor: not-allowed;
  }
}
.invalid {
  border: 2px solid rgba(255, 0, 0, .5);
}
@mixin registerTitle {
  font-family: "Quicksand", sans-serif;
  color: #000063;
  font-size: 1.5rem;
}
